/*   Universal Styles   */
body{
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

p{
  margin: 0;
}

nav ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}


/*   Header Section   */
#header{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: beige;
  font-family: "Noto Sans SC", "Roboto", sans-serif;
}

#header-img{
  width: 4rem;
  height: 3rem;
  margin: 0 0 0 4rem;
}

.name{
  margin: 0;
  margin-right: auto;
  font-size: 2rem;
  font-weight: normal;
  padding-left: 1rem;
}

.header-nav{
  display: flex;
}

.header-nav li{
  margin-right: 2rem;
}


/*    Main Section   */

/* Quote section */

.quote-author{
  padding-top: 3rem;
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.quote{
  margin: 3rem 0 1rem 0;
  font-family: "Noto Sans SC", "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.author{
  margin: 0 0 3rem 0;
}


/*  Email form section  */

#form{
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#email{
  padding: 0.5rem 0.2rem;
  width: 21%;
  margin: 0 auto;
}

#submit{
  padding: 0.2rem 0.5rem;
  margin: 1rem auto;
  text-transform: uppercase;
}


/* Features Section  */

#features{
  margin: 3rem auto;
}

.collections,
  .book-reading-section,
    .digital-library{
      display: flex;
      align-items: center;
      width: 70rem;
      margin: 0 auto;
      padding: 1rem;
    }

.f-pic img{
  width: 10rem;
  height: auto;
  margin: 1rem;
}

h2{
  margin-top: 0;
}


/*  library video section */

#video,
  .computers{
    display: flex;
    margin: 0 auto;
    padding: 1rem;
  }



/*   Pricing section   */

#membership{
  display: flex;
  width: 90%;
  margin: 4rem auto;
}

.individual-membership,
  .family-membership,
    .corporate-membership{
      width: 25%;
      text-align: center;
      border: 1px solid #000;
      margin: 0 auto;
    }

#membership ul,
  #membership p{
  text-align: left;
}

#membership h3{
  background-color: beige;
  padding: 1rem;
  margin: 0;
}

.details{
  padding: 0.5rem 0.8rem;
}

.select1{
  margin-top: 24%;
}

.select2{
  margin-top: 16%;
}


/*   footer section  */

footer{
  margin: 0 auto;
  padding: 1rem 3rem;
  background-color: beige;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer ul{
  list-style: none;
}

footer li{
  margin-left: 2rem;
}

.legal{
  display: flex;
  width: 90%;
  justify-content: flex-end;
}
